@import "func/base.scss";
@import "func/border.scss";
@import "../config.scss";

$DEFAULT_FOREGROUND_COLOR: $color-text;
$DEFAULT_BACKGROUND_COLOR: $color-background;
$DEFAULT_FONT_SIZE: $font-size-text;

@mixin default() {
    @include baseset(
        $fore: $DEFAULT_FOREGROUND_COLOR,
        $back: $DEFAULT_BACKGROUND_COLOR,
        $fontsize: $DEFAULT_FONT_SIZE
    );
}

@mixin inherit() {
    @include baseset(
        $fore: inherit,
        $back: inherit,
        $fontsize: inherit
    );
}

@mixin buttonbordered() {
    @include borderset(
        $width: $border-width,
        $color: $border-color,
        $default: $border-default,
        $clicked: $border-clicked
    );
}
