@import "../shared/util.scss";
@import "../config.scss";

.alert {
    @include baseset(
        $fore: $color-text,
        $back: $color-light,
        $fontsize: $font-size
    );

    // space between altert line and content
    padding-left: $spacing-size;

    // border at the left of content (alert line)
    border-left-width: $font-size/2;
    border-left-color: $color-shadow;
    border-left-style: solid;
}
