@import "../config.scss";

$ALERT_LEFT_SPACING: $spacing-padding-unit;
$ALERT_LEFT_SIZE: calc($font-size-text / 2);
$ALERT_LEFT_COLOR: $color-background-impact;

.alert {
    // space between altert line and content
    padding-left: $ALERT_LEFT_SPACING;

    // border at the left of content (alert line)
    border-left-width: $ALERT_LEFT_SIZE;
    border-left-color: $ALERT_LEFT_COLOR;
    border-left-style: solid;
}
