@import "../shared/func/color.scss";
@import "../config.scss";

.card {
    @include colorset(
        $fore: $color-text,
        $back: $color-background
    );

    border: 2px $color-text solid;
}

.card--borderless {
    @include colorset(
        $fore: $color-text,
        $back: $color-background
    );
}

.card__image {
    width: 100%;
}

.card__title {
    @include baseset(
        $fore: inherit,
        $back: inherit,
        $fontsize: $font-size-h3
    );

    font-weight: bold;    
}

.card__content {
    @include baseset(
        $fore: inherit,
        $back: inherit,
        $fontsize: $font-size-text
    );

    margin-top: $spacing-margin-unit;
}
