@import "../shared/func/color.scss";
@import "../config.scss";

.card {
    @include colorset(
        $fore: $color-text,
        $back: $color-light
    );

    border: 2px $color-text solid;
}

.card--borderless {
    @include colorset(
        $fore: $color-text,
        $back: $color-light
    );
}

.card__image {
    width: 100%;
}

.card__title {
    @include baseset(
        $fore: inherit,
        $back: inherit,
        $fontsize: $font-size * 1.5
    );

    font-weight: bold;    
}

.card__content {
    @include baseset(
        $fore: inherit,
        $back: inherit,
        $fontsize: $font-size
    );

    margin-top: $spacing-size;
}
