@import "../shared/func/base.scss";
@import "../shared/func/flex.scss";
@import "../config.scss";

$FOOTER_VERTICAL_SPACING: $spacing-gap-unit * 3;
$FOOTER_HORIZENTAL_SPACING: $spacing-gap-unit * 5;
$FOOTER_CONTENT_VERTICAL_SPACING: $spacing-gap-unit * 3;
$FOOTER_CONTENT_HORIZENTAL_SPACING: $spacing-gap-unit * 2;

.footer {
    @include baseset(
        $fore: $color-text,
        $back: $color-background-impact,
        $fontsize: $font-size-text
    );

    padding-top: $FOOTER_VERTICAL_SPACING;
    padding-bottom: $FOOTER_VERTICAL_SPACING;
    padding-left: $FOOTER_HORIZENTAL_SPACING;
    padding-right: $FOOTER_HORIZENTAL_SPACING;
}

.footer__content {
    @include flexset(
        $direction: row,
        $justify: space-between,
        $align: start,
        $gap: 0
    );

    margin-top: $FOOTER_CONTENT_VERTICAL_SPACING;

    padding-left: $FOOTER_CONTENT_HORIZENTAL_SPACING;
    padding-right: $FOOTER_CONTENT_HORIZENTAL_SPACING;
}

.footer__icon {
    user-select: none;
    text-align: center;

    font-size: $font-size-h1;
}

.footer__table {
    font-size: $font-size-text;
}

.footer__category {
    padding: $spacing-gap-unit;
    font-weight: bold;
}

.footer__item {
    padding: $spacing-gap-unit;
}

.footer__license {
    margin-top: $FOOTER_CONTENT_VERTICAL_SPACING;
    text-align: center;
}

@media screen and (max-width: $responsive-screenpx-tablet) {
    .footer {
        padding-top: $FOOTER_HORIZENTAL_SPACING;
        padding-bottom: $FOOTER_HORIZENTAL_SPACING;
        padding-left: $FOOTER_VERTICAL_SPACING;
        padding-right: $FOOTER_VERTICAL_SPACING;
    }
}

@media screen and (max-width: $responsive-screenpx-mobile) {
    .footer {
        padding-top: $FOOTER_HORIZENTAL_SPACING;
        padding-bottom: $FOOTER_HORIZENTAL_SPACING;
        padding-left: $FOOTER_VERTICAL_SPACING;
        padding-right: $FOOTER_VERTICAL_SPACING;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
    }
}