@import "../shared/func/base.scss";
@import "../shared/func/flex.scss";
@import "../config.scss";

$FOOTER_BLANK_DESKTOP: (
    x: $spacing-gap-unit * 3,
    y: $spacing-gap-unit * 3
);

$FOOTER_CONTENT_BLANK_DESKTOP: (
    x: $spacing-gap-unit * 6,
    y: $spacing-gap-unit * 2
);

$FOOTER_BLANK_TABLET: (
    x: $spacing-gap-unit * 5,
    y: $spacing-gap-unit * 3
);

$FOOTER_CONTENT_BLANK_TABLET: (
    x: 0,
    y: 0
);

$FOOTER_BLANK_MOBILE: (
    x: $spacing-gap-unit * 5,
    y: $spacing-gap-unit * 3
);

$FOOTER_CONTENT_BLANK_MOBILE: (
    x: 0,
    y: 0
);

.footer {
    @include baseset(
        $fore: $color-text,
        $back: $color-background-impact,
        $fontsize: $font-size-text
    );

    padding-top: map-get($map: $FOOTER_BLANK_DESKTOP, $key: y);
    padding-bottom: map-get($map: $FOOTER_BLANK_DESKTOP, $key: y);
    padding-left: map-get($map: $FOOTER_BLANK_DESKTOP, $key: x);
    padding-right: map-get($map: $FOOTER_BLANK_DESKTOP, $key: x);
}

.footer__content {
    @include flexset(
        $direction: row,
        $justify: space-between,
        $align: center,
        $gap: 0
    );

    padding-top: map-get($map: $FOOTER_CONTENT_BLANK_DESKTOP, $key: y);

    padding-left: map-get($map: $FOOTER_CONTENT_BLANK_DESKTOP, $key: x);
    padding-right: map-get($map: $FOOTER_CONTENT_BLANK_DESKTOP, $key: x);
}

.footer__icon {
    user-select: none;
    text-align: center;

    font-size: $font-size-h1;
}

.footer__table {
    font-size: $font-size-text;
}

.footer__category {
    padding: $spacing-gap-unit;
    font-weight: bold;
}

.footer__item {
    padding: $spacing-gap-unit;
}

.footer__license {
    margin-top: map-get($map: $FOOTER_BLANK_DESKTOP, $key: y);
    text-align: center;
}

@media screen and (max-width: $responsive-screenpx-tablet) {
    .footer {
        padding-top: map-get($map: $FOOTER_BLANK_TABLET, $key: y);
        padding-bottom: map-get($map: $FOOTER_BLANK_TABLET, $key: y);
        padding-left: map-get($map: $FOOTER_BLANK_TABLET, $key: x);
        padding-right: map-get($map: $FOOTER_BLANK_TABLET, $key: x);
    }

    .footer__license {
        margin-top: map-get($map: $FOOTER_BLANK_TABLET, $key: y);
    }
}

@media screen and (max-width: $responsive-screenpx-mobile) {
    .footer {
        padding-top: map-get($map: $FOOTER_BLANK_MOBILE, $key: y);
        padding-bottom: map-get($map: $FOOTER_BLANK_MOBILE, $key: y);
        padding-left: map-get($map: $FOOTER_BLANK_MOBILE, $key: x);
        padding-right: map-get($map: $FOOTER_BLANK_MOBILE, $key: x);
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__license {
        margin-top: map-get($map: $FOOTER_BLANK_MOBILE, $key: y);
    }
}