@import "../shared/util.scss";
@import "../config.scss";

.hashtag {
    @include baseset(
        $fore: $color-dark,
        $back: inherit,
        $fontsize: inherit
    );

    text-decoration: none;
    &::before { content: '#'; }
}
