@import "../shared/func/base.scss";
@import "../config.scss";

$HASHTAG_HEAD_CHARACTER: '#';
$HASHTAG_TEXT_DECO: none;

.hashtag {
    @include baseset(
        $fore: $color-text-impact,
        $back: inherit,
        $fontsize: inherit
    );

    text-decoration: $HASHTAG_TEXT_DECO;
    &::before { content: $HASHTAG_HEAD_CHARACTER; }
}
