@import "../shared/func/color.scss";
@import "../config.scss";

.jumbotron {
    width: 100dvw;
    height: 100dvh;

    @include colorset(
        $fore: $color-text-impact,
        $back: $color-background-impact
    );
}
