@import "../shared/func/color.scss";
@import "../config.scss";

.typo1 {
    @include baseset(
        $fore: $color-dark,
        $back: inherit,
        $fontsize: $font-size * 2.5
    );

    font-weight: bold;
}

.typo2 {
    @include baseset(
        $fore: $color-dark,
        $back: inherit,
        $fontsize: $font-size * 2
    );

    font-weight: bold;
}

.typo3 {
    @include baseset(
        $fore: $color-dark,
        $back: inherit,
        $fontsize: $font-size * 1.6
    );

    font-weight: bold;
}
