@import "../shared/func/base.scss";
@import "../shared/func/color.scss";
@import "../config.scss";

.typo1 {
    @include baseset(
        $fore: $color-text-impact,
        $back: inherit,
        $fontsize: $font-size-h1
    );

    font-weight: bold;
}

.typo2 {
    @include baseset(
        $fore: $color-text-impact,
        $back: inherit,
        $fontsize: $font-size-h2
    );

    font-weight: bold;
}

.typo3 {
    @include baseset(
        $fore: $color-text-impact,
        $back: inherit,
        $fontsize: $font-size-h3
    );

    font-weight: bold;
}
