@import "../shared/func/flex.scss";

$FLEX_OPTIONS_DIRECTIONS: (
    r: row,
    c: column
);

$FLEX_OPTIONS_JUSTIFY_CONTENT: (
    st: flex-start,
    sb: space-between,
    c: center
);

$FLEX_OPTIONS_ALIGN_ITEMS: (
    fs: flex-start,
    strh: stretch,
    c: center
);

$FLEX_GAP: $spacing-gap-unit;

@each $d, $dname in $FLEX_OPTIONS_DIRECTIONS {
    @each $j, $jname in $FLEX_OPTIONS_JUSTIFY_CONTENT {
        @each $a, $aname in $FLEX_OPTIONS_ALIGN_ITEMS {
            .flex--#{$d}-#{$j}-#{$a} {
                @include flexset(
                    $direction: $dname,
                    $justify: $jname,
                    $align: $aname,
                    $gap: $FLEX_GAP
                );
            }
        }
    }
}

/*
 * how to use flex
 * flex--(direction)-(justifiying)-(align)
 */
