@import "../config.scss";

@for $i from 1 through 3 {
    .p-#{$i} {
        padding: calc($spacing-padding-unit * $i);
    }
    
    .pt-#{$i} {
        padding-top: calc($spacing-padding-unit * $i);
    }
    
    .pb-#{$i} {
        padding-bottom: calc($spacing-padding-unit * $i);
    }
    
    .pl-#{$i} {
        padding-left: calc($spacing-padding-unit * $i);
    }
    
    .pr-#{$i} {
        padding-right: calc($spacing-padding-unit * $i);
    }
    
    .py-#{$i} {
        padding-top: calc($spacing-padding-unit * $i);
        padding-bottom: calc($spacing-padding-unit * $i);
    }
    
    .px-#{$i} {
        padding-left: calc($spacing-padding-unit * $i);
        padding-right: calc($spacing-padding-unit * $i);
    }
}
