@import "../config.scss";

@for $i from 1 through 3 {
    .p-#{$i} {
        padding: $spacing-padding-unit * $i;
    }
    
    .pt-#{$i} {
        padding-top: $spacing-padding-unit * $i;
    }
    
    .pb-#{$i} {
        padding-bottom: $spacing-padding-unit * $i;
    }
    
    .pl-#{$i} {
        padding-left: $spacing-padding-unit * $i;
    }
    
    .pr-#{$i} {
        padding-right: $spacing-padding-unit * $i;
    }
    
    .py-#{$i} {
        padding-top: $spacing-padding-unit * $i;
        padding-bottom: $spacing-padding-unit * $i;
    }
    
    .px-#{$i} {
        padding-left: $spacing-padding-unit * $i;
        padding-right: $spacing-padding-unit * $i;
    }
}
