@import "../config.scss";

.responsive {
    width: $responsive-view-desktop;
    margin: auto;
}

@media screen and (max-width: $responsive-screenpx-tablet) {
    .responsive {
        width: $responsive-view-tablet;
    }
}

@media screen and (max-width: $responsive-screenpx-tablet) {
    .responsive {
        width: $responsive-view-mobile;
    }
}
