@mixin gridset($div, $j-item, $a-item, $j-content, $a-content, $gap) {
    display: grid;

    // division set
    grid-template-columns: repeat($div, 1fr);

    // item strategy
    justify-items: $j-item;
    align-items: $a-item;

    // content strategy
    justify-content: $j-content;
    align-items: $a-content;
    
    // gap
    gap: $gap;
}
