$color-text: rgb(83, 83, 83);
$color-text-impact: black;
$color-background: white;
$color-background-impact: whitesmoke;

$font-family: 'Courier New', Courier, monospace;
$font-size-text: 1rem;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;

$spacing-padding-unit: 1rem;
$spacing-margin-unit: 1rem;
$spacing-gap-unit: 1rem;

$border-color: whitesmoke;
$border-width: 2px;

$responsive-screenpx-tablet: 1000px;
$responsive-screenpx-mobile: 450px;
$responsive-view-desktop: 65%;
$responsive-view-tablet: 95%;
$responsive-view-mobile: 95%;
/* should define @media about $screen-tablet first
   then define about $screen-mobile */
