$color-text: rgb(83, 83, 83);
$color-text-impact: black;
$color-background: white;
$color-background-impact: whitesmoke;

$font-family: 'Courier New', Courier, monospace;
$font-size-text: 1rem;
$font-size-h1: 1rem;
$font-size-h2: 1rem;
$font-size-h3: 1rem;

$spacing-padding-unit: 0.5rem;
$spacing-margin-unit: 0.5rem;
$spacing-gap-unit: 1rem;

$screen-tablet: 1000px;
$screen-mobile: 250px;
/* should define @media about $screen-tablet first
   then define about $screen-mobile */
